/* Latest Update: 11.07.2025 */
/* Title: Extrem-Tutorials */
 /* Author: Zeus */
 /* Version: N/A */
/* Launch date: N/A */
/* Contact: https://extrem-tutorials.forum.st/u1 */
/* Original content: https://web.archive.org/web/20171230233632/http://www.extrem-tutorials.com/ */
/* Administratori */
span[style="color:#C24D0E"]:before, [style="color: #C24D0E"]:before {
    content: "\f013";
    padding-right: 3px;
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
}
/* Sfârșitul iconiței de la administratori */
/* Moderatori */
span[style="color:#7BA607"]:before, [style="color: #7BA607"]:before {
    content: "\f21b";
    padding-right: 3px;
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
}
/* Sfârșitul iconiței de la moderatori */
/* Graphic designeri */
span[style="color:#C20031"]:before, [style="color: #C20031"]:before {
    content: "\f1fc";
    padding-right: 3px;
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
}
/* Sfârșitul iconiței de la graphic designeri */
/* Dezvoltatori */
span[style="color:#000000"]:before, [style="color: #000000"]:before {
    content: "\f0ad";
    padding-right: 3px;
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
}
/* Sfârșitul iconiței de la dezvoltatori */
/* Membri Premium */
span[style="color:#2CB2EB"]:before, [style="color: #2CB2EB"]:before {
    content: "\f005";
    padding-right: 3px;
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
}
/* Sfârșitul iconiței de la Membri Premium */
/*^^^[mihai a fost aici!!!]^^^Începerea refacerii a temei Extrem-Tutorials^^^*/
.categoryTitle h2 {
    display: inline;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 600 !important;
    background: rgb(45, 121, 218) !important;
    padding: 2px 15px;
}
.main-head h1, .main-head h2, .headline-page h2 {
    display: inline;
    background: #2d79da;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 15px;
    font-weight: 600 !important;
    font-size: 13px;
}
