/* Latest Update: 11.07.2025 */
/* Title: Extrem-Tutorials */
 /* Author: Zeus */
 /* Version: N/A */
/* Launch date: N/A */
/* Contact: https://extrem-tutorials.forum.st/u1 */
/* Original content: https://web.archive.org/web/20171230233632/http://www.extrem-tutorials.com/ */
/* Administratori */
span[style="color:#C24D0E"]:before, [style="color: #C24D0E"]:before {
    content: "\f013";
    padding-right: 3px;
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
}
/* Sfârșitul iconiței de la administratori */
/* Moderatori */
span[style="color:#7BA607"]:before, [style="color: #7BA607"]:before {
    content: "\f21b";
    padding-right: 3px;
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
}
/* Sfârșitul iconiței de la moderatori */
/* Graphic designeri */
span[style="color:#C20031"]:before, [style="color: #C20031"]:before {
    content: "\f1fc";
    padding-right: 3px;
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
}
/* Sfârșitul iconiței de la graphic designeri */
/* Dezvoltatori */
span[style="color:#000000"]:before, [style="color: #000000"]:before {
    content: "\f0ad";
    padding-right: 3px;
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
}
/* Sfârșitul iconiței de la dezvoltatori */
/* Membri Premium */
span[style="color:#2CB2EB"]:before, [style="color: #2CB2EB"]:before {
    content: "\f005";
    padding-right: 3px;
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
}
/* Sfârșitul iconiței de la Membri Premium */
/*^^^[mihai a fost aici!!!]^^^Începerea refacerii a temei Extrem-Tutorials^^^*/
.categoryTitle h2 {
    display: inline;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 600 !important;
    background: rgb(45, 121, 218) !important;
    padding: 2px 15px;
}
.main-head h1, .main-head h2, .headline-page h2 {
    display: inline;
    background: #2d79da;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 15px;
    font-weight: 600 !important;
    font-size: 13px;
}
.headline-page h2, .headline-page h3 {
    line-height: 1.8 !important;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
}
.mark-all {
    float: right;
    margin-top: -18px;
    position: relative;
    top: -10px;
    font-size: 11px;
}
#fa_toolbar #fa_service {
    font-size: 0!important;
}
#fa_toolbar #fa_service::after {
  content: 'Fgsuport'!important;
  font-size: 15;
}
#fa_toolbar #fa_icon {
    display: inline-block !important;
    visibility: visible !important;
    background-repeat: no-repeat;
    background-image: url(https://i.servimg.com/u/f28/11/40/02/06/1211.png);
    background-size: 30px;
    width: 30px;
    height: 30px;
}
#fa_toolbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    top: auto;
}
#fa_toolbar #fa_right #notif_list, #fa_menulist, #fa_toolbar #fa_right #notif_list {
    bottom: 22px;
    margin-left: -2px;
}
.gradient-effect {
    background: #2d79da;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
    padding: 20px;
}
#footer {
    background: #2d79da url(/web/20171105082732im_/https://147.ip-51-255-166.eu/red_cdn/extremtuts/img/texture.png) repeat scroll 50% 100%;
    color: #fff;
    margin: 0 auto;
}
#page-footer {
    background: #F8F9FC;
    color: #777;
    border-top: 1px solid #C5D5F1;
}
#page-footer {
    padding: 10px 20px;
    padding-bottom: 0 !important;
}
#page-footer a {
    color: #999!important;
}
#pun-about {
    border-style: solid;
    border-width: 1px;
    border-color: var(--forumline_color);
    text-align: left;
    line-height: 150%;
    padding: .6em 1em;
    background-color: transparent!important;
}
#wrapper {
    width: 96%!important;
}
#wrapper {
    width: 1070px !important;
}
